# Git
.git
.gitignore

# Node
node_modules
npm-debug.log

# Next.js
.next
out

# Environment
.env*.local
.env

# Documentation
*.md
docs/

# IDE
.vscode
.idea

# OS
.DS_Store
Thumbs.db

# Testing
coverage

# Misc
tmp
temp
