name: Docker Build Cloud CI

on:
  push:
    branches:
      - "main"

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      
      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ vars.DOCKER_USER }}
          password: ${{ secrets.DOCKER_PAT }}
      
      - name: Set up Docker Buildx with Cloud
        uses: docker/setup-buildx-action@v3
        with:
          driver: cloud
          endpoint: "lokendra334/loken"
      
      - name: Build and push MarketingTool.Pro
        uses: docker/build-push-action@v6
        with:
          context: .
          tags: |
            lokendra334/marketingtool-pro:latest
            lokendra334/marketingtool-pro:${{ github.sha }}
          push: true
          cache-from: type=registry,ref=lokendra334/marketingtool-pro:buildcache
          cache-to: type=registry,ref=lokendra334/marketingtool-pro:buildcache,mode=max
